<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wedevol.smartclass">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.SignupActivity" />
        <activity android:name=".activities.HomeActivity" />
        <activity android:name=".activities.LoginActivity" />







        <activity android:name=".fragments.course.SelectCourseActivity"/>
        <activity android:name=".fragments.zothermomentaneous.MainActivity" />
        <activity
            android:name=".fragments.zothermomentaneous.CoachProfileActivity"
            android:label="@string/title_activity_coach_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".fragments.schedule.ScheduleActivity" />
        <activity android:name=".fragments.course.CourseActivity" />
        <activity android:name=".fragments.notification.NotificationsActivity" />
        <activity android:name=".fragments.zothermomentaneous.ConsultActivity" />
        <activity android:name=".fragments.zothermomentaneous.ChatActivity" />
        <activity android:name=".fragments.zothermomentaneous.ChatsActivity" />
        <activity android:name=".fragments.zothermomentaneous.ConfirmActivity" />
        <activity
            android:name=".fragments.zothermomentaneous.StudentProfileActivity"
            android:label="@string/title_activity_student_profile"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".fragments.schedule.SelectScheduleActivity"/>
        <activity android:name=".fragments.paycourse.ConfirmCourseActivity"/>
        <activity android:name=".fragments.schedule.ScheduleMainActivity" />
        <activity android:name=".fragments.zothermomentaneous.MyCoachProfileActivity" />
        <activity android:name=".fragments.course.RequestCourseActivity" />
        <activity android:name=".activities.DetailConsultActivity" />

    </application>

</manifest>